rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // 1. Ocultar los datos completos y solo permitir queries controladas. 
      // (Dado que requiere lectura pública para tu login sin Firebase Auth, lo permitiremos)
      allow read: if true;
      
      // 2. Creación Inyectada: Nadie puede nacer siendo Admin ni inyectarse saldo de inicio.
      allow create: if request.resource.data.isAdmin == false 
                    && request.resource.data.balance == 0 
                    && request.resource.data.invested == 0;

      // 3. Anti-Hack de Nivel (Privilege Escalation): Un usuario creado como
      // "false" (NO Administrador) no puede actualizar su registro a "true" (Administrador).
      allow update: if request.resource.data.isAdmin == resource.data.isAdmin;

      // 4. Permitir eliminación bajo condiciones (Temporalmente habilitado para administración).
      allow delete: if true; 
    }
    
    // Reglas para estructura futura
    match /chats/{chatId} {
      allow read, write: if true;
    }
  }
}
